
.Navbox__arrowholder{
    width: 4%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    transition-duration: 1s;
    cursor: pointer;
    position: absolute;
    height: 150px;
    z-index: 10;
}
.right {
    right:0px
}

.left {
    left:0px
}