.Carouselitem {
   display: flex;
   height: 225px;
   align-items: center;
   cursor: pointer;
}
.Carouselitem__img {
    width: 250px;
    height: 150px;
    box-sizing: border-box;
    margin-right: 10px;
}
.Carouselitem__overlay {
    display: flex;
    height: 225px;
    justify-content: center; 
    align-items: center;
    font-size: 44px;
    z-index: 2;
    position: absolute;
    width: 250px;
}



