.Carouselitem {
   display: flex;
   height: 225px;
   align-items: center;
   cursor: pointer;
   pointer-events:auto
}
.Carouselitem__img {
    width: 250px;
    height: 150px;
    box-sizing: border-box;
    margin-right: 10px;
}
.Carouselitem:hover {
    opacity: 0.5;
}

/* .Carouselitem__details{

} */
/* .Carouselitem__img:hover{
    height: 350px;
} */


