.Home__Navbar{
    display: flex;
    height : 80px;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    font-family: Roboto, Arial, sans-serif;
}
.Home__Body{
    display: flex;
    justify-content: flex-end;
    padding: 0px 50px;
    align-items: center;
}
.Home__Body__Container{
    display: flex;
    flex-direction: column;
    width:46%;
    height:500px;
    justify-content: center;
}
.btn-danger{
    align-items: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 17px;
    background-image: linear-gradient(to bottom,#e50914 0,#c12e2a 100%)
}

