.AdminNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
    background-color:rgba(229, 9, 20, 1); 
    padding: 0 30px;
}
.AdminNavbar__element{
    cursor: pointer;
}
.AdminNavbar__element:hover{
    color: rgba(0, 0, 0, 0.8);
}
.Videocontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    padding: 10px;
}
.Videocontainer__Filesupload,.Videocontainer__Videodetails,.Adminfield{
    display: flex;
    flex-direction: column
}
.Videocontainer__Filesupload,.Videocontainer__Videodetails{
    width: 40%;
    padding-left: 30px;
    justify-content: space-around;
}
.Dropzone{
    width: 250px;
    height: 100px;
    color: red;
    font-size: 16px;
    border: white dashed;
    padding: 10px;
}